.navBar-top{

}
.ul-width{
	width: 70%;
}
.header-li{
	width: 22%;
}
.header-img{
	max-width: 100% !important;
}
.color-hamburguer{
	background: white !important;
}
/*.nav>li>a:focus, .nav>li>a:hover {
  background-color: #cfcfcf !important;
}*/
.header-li-top {
    margin-top: 1%;
}
.header-li-top>a, .color-menu{
	color: white !important;
}
.header-li-close-session {
  margin-top: 6%;
}
.color-menu:hover {
	color: black !important;
}
@media only screen and (min-width: 320px){
	.header-li{
		width: 100%;
	}
	.header-img{
		max-width: 80% !important;
	}
}
@media only screen and (min-width: 768px){
	.header-li{
		width: 20%;
	}
	.ul-width {
		width: 83%;
	}
	.color-menu {
		font-size: 12px;
	}
	.nav>li>a {
    padding: 10px 5px !important;
	}
}
@media only screen and (min-width: 900px){
	.nav>li>a {
    padding: 10px 10px !important;
	}
}
@media only screen and (min-width: 1000px){
	.color-menu {
		font-size: 14px;
	}
}
@media only screen and (min-width: 1000px){
	.nav>li>a {
    padding: 10px 15px !important;
	}
}
@media only screen and (min-width: 1200px){
	.color-menu {
		font-size: 16px;
	}
	.nav>li>a {
    padding: 10px 18px !important;
	}
}


#top {
	overflow-x: hidden;
}
.font-web, body {
	font-family: 'Lato', sans-serif;
}
.white {
	color: white;
}
.color-hamburguer{
	background-color: #282e39;
}
.Header {
	position: initial;
	background: #d2d2d2;
  background: linear-gradient(178deg, #d2d2d2, #d8e8fd);
}
.inline-block {
	display: inline-block;
}
.div1-header {
	background: #2d353f;
  background: linear-gradient(90deg, #2d353f, #37537d);
}
.padding-div1-header {
  padding: 0;
}
.max-width-img-div1 {
	max-width: 85%;
	padding: 4px;
}
.div1-span {
  padding-right: 4px;
}
.div1-img-float {
	float: none;
}
.div1-idioma {
   margin-top: 5px;
}
.header-logo-midoc {
	margin: 2%;
}
.header-color-menus {
	color: #282e39;
	font-weight: bold;
}
.navbar {
	border: none;
	margin-bottom: 0;
}


@media (max-width: 767px) {
  .div1-header {
		background: #72767e;
	  background: linear-gradient(90deg, #72767e, #73777f);
	}
	.div1-idioma {
    margin-top: 2%;
	}
	.Header {
		background: white;
	}
	.img-log {
		max-width: 50%;
	}
}

@media (max-width: 768px) {
	.div1-img-float {
		float: right;
	}
}

@media (min-width: 992px) {
	.navbar-collapse {
		width: 50%;
	}
	.header-logo-midoc, .ul-right {
		float: right;
	}
}
