/*  Cambios Adrián */
#top {
  overflow-x: hidden;
}
.no-padding {
  padding: 0;
}


/* Termina cambios Adrián */


.div-banner{
    background-image: url("../img/banner/banner_index.png");
    height: 753px;
    width: 100%;
}
.div-us-banner{
    background-image: url("../img/banner/banner_index.png");
    height: 753px;
    width: auto;
}
.logo_etisa{
    height: 70px;
    width: 230px;
    margin-left: 50px;
    margin-top: 30px;
}
.text_banner{
    margin-left: 50px;
    margin-top: 150px;
}
.texto_banner{
    font-size: 28px;
    color: white;
    line-height: .9;
    text-indent: 60px;
    text-align: left;
}
.texto_amarillo{
    color: #ffd813;
    text-indent: 60px;
    text-align: left;
    font-size: 80px;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: .5rem;
    font-family: inherit;
}

/* Navbar css*/

.nav_texto{
  margin-left: 40px;
  font-family: SFProText;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.nav_texto:hover {
  color: yellow;
  text-decoration: underline;
}

/* fin navbar*/

@media (max-width: 768px){
    .text_banner{
        margin-left: 30px;
        margin-top: 100px;
    }
    .texto_banner{
        font-size: 18px;
        color: white;
        line-height: .9;
        text-indent: 0px;
        text-align: left;
    }
    .texto_amarillo{
        color: #ffd813;
        text-indent:0px;
        text-align: left;
        font-size: 37px;
        line-height: 1.2;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        margin-bottom: .5rem;
        font-family: inherit;
    }
    .logo_etisa{
        height: 35px;
        width: 115px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .div-banner{
        background-image: url("../img/banner/banner_index.png");
        height: 500px;
        width: 100%;
    }

    .nav_texto{
      margin-left: 20px;
      font-family: SFProText;
      font-size: 10px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-top: 30px;
    }

    .nav_texto:hover {
      color: yellow;
      text-decoration: underline;
    }
}


@media ((min-width:768px) and (max-width: 991px)){
    .text_banner{
        margin-left: 30px;
        margin-top: 100px;
    }
    .texto_banner{
        font-size: 18px;
        color: white;
        line-height: .9;
        text-indent: 0px;
        text-align: left;
    }
    .texto_amarillo{
        color: #ffd813;
        text-indent:0px;
        text-align: left;
        font-size: 37px;
        line-height: 1.2;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        margin-bottom: .5rem;
        font-family: inherit;
    }
    .logo_etisa{
        height: 35px;
        width: 115px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .div-banner{
        background-image: url("../img/banner/banner_index.png");
        height: 500px;
        width: 100%;
    }

    .nav_texto{
      margin-left: 20px;
      font-family: SFProText;
      font-size: 10px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-top: 30px;
    }

    .nav_texto:hover {
      color: yellow;
      text-decoration: underline;
    }
}



.inline{
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}
.inline-footer{
    margin-top: 50px;
    display: inline;
    text-align: center;
}
footer .logo-footer{
    margin-top: 20px;
    height: 60px;
    float: right;
}
#line{
    border-right: 2px solid white;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
}
.footer-above{
    padding-top: 50px;
    background-color: #0a1f2d;
}
footer .footer-col {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 180px;
    padding-top: 60px;
}
footer .footer-social {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
}
footer .texto_footer{
    color: white;
    font-size: 14px;
    line-height: .9;
}
.texto_us_banner{
    color: #ffd813;
    font-size: 80px;
    line-height: .9;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: .5rem;
    font-family: inherit;
}
.texto_us_banner_white{
    font-size: 28px;
    color: white;
    line-height: .9;
}
.text_us_banner{
    margin-top: 150px;
    text-align: center;
}
ul {
    list-style-type: none;
    marginle: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 82px;
    text-decoration: none;
}
section .seccion_info{
    margin-top: 100px;
    margin-bottom: 100px;
}
.texto_info{
    font-size: 19px;
}
.texto_carousel_titulo{
    font-size: 36px;
    text-align: left;
    font-weight: 700;
}
.texto_carousel{
    color: #000000;
    font-weight: 500;
    text-align: justify;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    font-stretch: normal;
    margin-bottom: .5rem;
    font-family: inherit;
}
.img_carousel{
    height: 400px;
    font-weight: bold;
}
.nuestra{
    margin-left: 100px;
    margin-right: auto;
    height: 400px;
    font-weight: bold;
}
#nuestra{
    height: 2px;
    width: 100%;
    background-color: #000000;
}
#line_horizontal_quality{
    height: 2px;
    width: 100%;
    background-color: #ffe146;
}
#line_horizontal_environment{
    height: 2px;
    width: 100%;
    background-color: #ce0026;
}
#line_horizontal_health{
    height: 2px;
    width: 100%;
    background-color: #318bca;
}
#line_horizontal_safety{
    height: 2px;
    width: 100%;
    background-color: #4e8c2e;
}
.carousel-indicators li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #e5e5e5;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 10px;
    background-color: #ffe146;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    margin-left: 100px;
    margin-right: 100px;
    background-image: none;
}
.us_carousel{
    margin-top: 50px;
    margin-bottom: 80px;
}
.objetivos{
    margin-top: 50px;
    margin-bottom: 10px;
}
.logo_etisa_color {
  margin-top: 5%;
  margin-left: 10%;
}
@media (max-width: 768px){
    .logo_etisa_color{
        height: 100%;
        width: auto;
        margin-left: 0;
        margin-top: 0;
    }
    .text_us_banner{
        margin-top: 100px;
        text-align: center;
    }
    .texto_us_banner{
        color: #ffd813;
        font-size: 36px;
        line-height: .9;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        margin-bottom: 0rem;
        font-family: inherit;
    }
    .texto_us_banner_white{
        display: inline;
        font-size: 20px;
        color: white;
        line-height: .9;
        margin-bottom: .3rem;
        margin-top: 9px;
    }
    .div-us-banner{
        background-image: url("../img/banner/banner_index.png");
        height: 500px;
        width: 100%;
    }
    .texto_info{
        font-size: 16px;
        text-align: justify;
        margin-top: 9px;
    }
    .texto_carousel_titulo{
        font-size: 30px;
        text-align: center;
        font-weight: 500;
    }
    .texto_carousel{
        color: #000000;
        font-weight: 500;
        text-align: justify;
        font-size: 16px;
        line-height: 1.2;
        font-style: normal;
        font-stretch: normal;
        margin-bottom: .5rem;
        font-family: inherit;
    }
    .nuestra{
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        font-weight: bold;
    }
    #nuestra{
        height: 2px;
        width: auto;
        background-color: #000000;
    }
}
@media (max-width: 768px){
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1px 40px;
        text-decoration: none;
    }
    #line{
        border-right: 2px solid white;
        margin-left: 7px;
        margin-right: 7px;
        height: 90px;
    }
    footer .texto_footer{
        color: white;
        font-size: 14px;
        line-height: 1.5;
    }
}
@media (max-width: 320px){
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1px 40px;
        text-decoration: none;
    }
    #line{
        border-right: 2px solid white;
        margin-left: 7px;
        margin-right: 7px;
        height: 90px;
    }
    footer .texto_footer{
        color: white;
        font-size: 10px;
        line-height: .9;
    }
}
@media (max-width: 834px){
    .nuestra{
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        font-weight: bold;
    }
}



/*CSS SECCION 1*/

.div-img{
  height: 615px;
}

.texto_expertos{
    margin-left: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #69c63a;
    line-height: 70px;
    text-align: justify;
    font-size: 50px;
}

.top-expertos{
  padding-top:125px;
}

.top-parrafo{
  padding-top:20px;
}

.texto_parrafo{
  font-family: SFProText;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
  text-align: justify;
  margin-left: 50px;

}

.rectangulo-6 {
  background-color: #35364f;
}

@media (min-width: 768px) and (max-width: 991px) {

  .div-img{
      width: 100%;
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .texto_expertos{
      margin-left: 30px;
      font-family: sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #69c63a;
      line-height: 30px;
      text-align: justify;
      font-size: 27px;
  }

  .top-expertos{
    padding-top:45px;
  }

  .top-parrafo{
    padding-top:15px;
  }

  .texto_parrafo{
    font-family: SFProText;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    text-align: justify;
    margin-left: 30px;

  }

  .rectangulo-6 {
    height: 500px;
  }

}

@media (max-width: 767px) {

  .div-img{
      /*background-image: url("../img/banner/etisa.png");*/
      width: 100%;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .texto_expertos{
      margin-left: 32px;
      font-family: sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #69c63a;
      line-height: 30px;
      text-align: justify;
      font-size: 27px;
  }

  .top-expertos{
    padding-top:20px;
  }

  .top-parrafo{
    padding-top:15px;
  }

  .texto_parrafo{
    font-family: SFProText;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    text-align: justify;
    margin-left: 32px;

  }


}

/*Fin Seccion 1*/


/*CSS MENU HOVER */

.menu-hover{
    height: 750px;
    width: auto;
}

.img-1{
  background-image: url("../img/aislantes/aislante-altas-temp.png");
  height: 654px;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-2{
  background-image: url("../img/aislantes/aislante-bajas-temp.png");
  height: 654px;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-3{
  background-image: url("../img/aislantes/aislante-refractario.png");
  height: 654px;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-4{
  background-image: url("../img/aislantes/aislante-acustico.png");
  height: 654px;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangulo-2 {
  margin-top: 240px;
  width: auto;
  height: 174px;
  opacity: 0.77;
  background-color: #0f112e;
  }

  

 .rectangulo-2:hover {
   margin-top: 0px;
   padding-top:0px;
    width: auto;
    height: 680px;
    opacity: 0.77;
    background-color: #0f112e;
    -webkit-transition-duration:1s;
    transition-duration:1s;
  }

  .rectangulo-2 .p-rectangulo-2{
    opacity: 0;
    text-align: justify;
    padding-left: 5px;
    margin-right: 15px;
    margin-left: 30px;
  }
  .rectangulo-2 .p-rectangulo-2:hover{
    opacity: 1;
    color: white;
    margin-right: 15px;
    margin-left: 30px;
  }

  .p-rectangulo-2 {
    margin-top: 0px;
    padding-top:0px; 
    opacity: 1;
    text-align: justify;
    padding-left: 5px;
  }





.rectangulo-servicios {
  width: 1440px;
  height: 100px;
  background-color: #ffd813;
}

.texto_rectangulo-servicios{
  width: 900px;
  height: 101px;
  font-family: SFProText;
  font-size: 55px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #35364f;
}


.texto_hover{
  margin-right: 43px;
  font-family: SFProText;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.texto_hover:hover {
  display: block;
}

.top{
  padding-top:28px;
}

.top1{
  padding-top:45px;
}
.tophov{
  padding-top:68px;
}


/*Hover responsivo*/

@media (max-width: 767px){

  .menu-hover{
      height: 550px;
      width: 100%;
  }

  .img-1{
   background-image: url("../img/aislantes/aislante-altas-temp.png");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-2{
    background-image: url("../img/aislantes/aislante-bajas-temp.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-3{
    background-image: url("../img/aislantes/aislante-refractario.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
  }

  .img-4{
    background-image: url("../img/aislantes/aislante-acustico.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
  }

  .rectangulo-2 {
    margin-top: 140px;
    width: auto;
    height: 100px;
    opacity: 0.77;
    background-color: #0f112e;
    background-repeat: no-repeat;
    }

   .rectangulo-2:hover  {
      height: 480px;
      width: auto;
      opacity: 0.77;
      background-color: #0f112e;
      -webkit-transition-duration:1s;
      transition-duration:1s;
    }

  .rectangulo-2 .p-rectangulo-2{
    opacity: 0;
    text-align: justify;

    margin-right: 15px;
    margin-left: 30px;
  }
  .rectangulo-2 .p-rectangulo-2:hover{
    opacity: 1;
    color: white;
  }

  .p-rectangulo-2 {
    margin-top: 0px;
    padding-top:0px; 
    opacity: 1;
    text-align: justify;
  }

  .rectangulo-servicios {
    width: 100%;
    height: 80px;
    background-color: #ffd813;
  }

  .texto_rectangulo-servicios{
    width: 300px;
    height: 500px;
    font-family: SFProText;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #35364f;
  }


  .texto_hover {
    margin-right: 21px;
    font-family: SFProText;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .top{
    padding-top:8px;
  }

  .top1{
    padding-top:22px;
  }
  .tophov{
    padding-top:50px;
  }
}

/*fin responsivo hovermenu*/
/*FIN MENU HOVER */

/*CSS SECCION 3 */
.rectangulo-carrusel {
  width: 1440px;
  height: 100%;
  background-color: #fafff7;
}

.texto_sec3{
  padding-top: 74px;
  margin-left: 67px;
  width: 843px;
  height: 120px;
  font-family: SFProText;
  font-size: 70px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #35364f;
}


/*carrusel2*/

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-
     {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

/*Responsive Seccion 3*/
@media (max-width: 767px){

  .rectangulo-carrusel {
    width: 100%;
    height: 500px;
    background-color: #fafff7;
  }

  .texto_sec3{
    padding-top: 44px;
    margin-left: 33px;
    width: 300px;
    height: 120px;
    font-family: SFProText;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: #35364f;
  }

}

@media ((min-width: 768px)and (max-width: 991px)){

  .rectangulo-carrusel {
    width: 100%;
    height: 500px;
    background-color: #fafff7;
  }

  .texto_sec3{
    padding-top: 44px;
    margin-left: 33px;
    width: 300px;
    height: 120px;
    font-family: SFProText;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: #35364f;
  }

}
/*Fin responsive seccion3*/
/*Fin seccion3*/

/*CSS SECCION CONTACTO*/

.container-texto-contacto{
  height: 754px;
  background-color: #34364f;
}

.top_contacto{
  margin-left: 97px;
  margin-top: 85px;
}

.texto_contacto_pr{
  margin-left: 97px;
  font-family: SFProText;
  font-size: 70px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #ffe044;
}

.texto_contacto{
  margin-left: 97px;
 font-family: SFProText;
 font-size: 24px;
 font-weight: 500;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.38;
 letter-spacing: normal;
 color: #ffffff;
}

.form-contacto{
  margin-top: 100px;
}

.mb-2{
  font-family: SFProText;
  font-size: 34px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.53;
  letter-spacing: normal;
  color: #454545;
}

.btn{
  margin-left: 9px;
 width: 360px;
 height: 50px;
 border-radius: 2px;
 /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
 background-color: #69c63a;
}

.btn-primary{
  font-family: SFProText;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}



.navBar-top{

}
.ul-width{
  width: 70%;
}
.header-li{
  width: 22%;
}
.header-img{
  max-width: 100% !important;
}
.color-hamburguer{
  background: white !important;
}
/*.nav>li>a:focus, .nav>li>a:hover {
  background-color: #cfcfcf !important;
}*/
.header-li-top {
    margin-top: 1%;
}
.header-li-top>a, .color-menu{
  color: white !important;
}
.header-li-close-session {
  margin-top: 6%;
}
.color-menu:hover {
  color: black !important;
}
@media only screen and (min-width: 320px){
  .header-li{
    width: 100%;
  }
  .header-img{
    max-width: 80% !important;
  }
}
@media only screen and (min-width: 768px){
  .header-li{
    width: 20%;
  }
  .ul-width {
    width: 83%;
  }
  .color-menu {
    font-size: 12px;
  }
  .nav>li>a {
    padding: 10px 5px !important;
  }
}
@media only screen and (min-width: 900px){
  .nav>li>a {
    padding: 10px 10px !important;
  }
}
@media only screen and (min-width: 1000px){
  .color-menu {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1000px){
  .nav>li>a {
    padding: 10px 15px !important;
  }
}
@media only screen and (min-width: 1200px){
  .color-menu {
    font-size: 16px;
  }
  .nav>li>a {
    padding: 10px 18px !important;
  }
}


#top {
  overflow-x: hidden;
}
.font-web, body {
  font-family: 'Lato', sans-serif;
}
.white {
  color: white;
}
.color-hamburguer{
  background-color: #282e39;
}
.Header {
  position: initial;
}
.inline-block {
  display: inline-block;
}
.div1-header {
  background: #2d353f;
  background: linear-gradient(90deg, #2d353f, #37537d);
}
.padding-div1-header {
  padding: 0;
}
.max-width-img-div1 {
  max-width: 85%;
  padding: 4px;
}
.div1-span {
  padding-right: 4px;
}
.div1-img-float {
  float: none;
}
.div1-idioma {
   margin-top: 5px;
}
.header-logo-midoc {
  margin: 2%;
}
.header-color-menus {
  font-weight: bold;
  font-size: 24px;
}
.navbar {
  border: none;
  margin-bottom: 0;
}
.navbar-collapse {
  margin-top: 2% !important;
}

@media (max-width: 767px) {
  .div1-header {
    background: #72767e;
    background: linear-gradient(90deg, #72767e, #73777f);
  }
  .div1-idioma {
    margin-top: 2%;
  }
  .img-log {
    max-width: 50%;
  }
  .margin-right {
    float: left;
    display: inline-block;
    width: 100%;
  }
  .margin-right a {
    text-align: left;
  }

}

@media (max-width: 768px) {
  .div1-img-float {
    float: right;
  }
  .img-logo {
    max-width: 50%;
    display: inline;
  }
  #my-picks {
    width: 50%;
  }
  .img-logos-size {
    max-width: 100%;
  }
  footer .logo-footer{
    height: 50px;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    width: 50%;
  }
  .header-logo-midoc, .ul-right {
    float: right;
  }
}


/* SECCIÓN 1 PÁGINA WELCOME */
.seccion1 {
  padding: 0;
  margin: 0;
  width: auto;
}
.no-padding {
  padding: 0;
}

/* SECCIÓN 3 PÁGINA WELCOME */
.div-logos {
  width: fit-content;
  padding-left: 3%;
}
.img-logos-size {
  max-width: 80%;
}
.btn-enviar {
  width: 100%;
}

@media (max-width: 768px) {
  #my-pics {
    width: 50%;
  }
  .img-logos-size {
    max-width: 100%;
  }
  .carousel-control {
  font-size: 40px;
  }
  .form-contacto{
  margin-top: 20px;
  }
  .texto_contacto_pr {
    font-size: 32px;
    margin-left: 30px;
  }
  .top_contacto {
    margin-top: 50px;
  }
  .texto_contacto {
    margin-left: 30px;
    font-size: 22px;
  }
}
.icon-prev, .icon-next {
  color: black;
}
.carousel-control.right, .carousel-control.left {
  background: unset;
}
.carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 70px;
}

/* ICONOS FOOTER */
.div-social-icons {
  margin-bottom: 5%;
}
.menu-font-footer {
  font-size: 18px;
}
.div-footer-logo {
  border-right: white solid;
}

.texto-servicios {
 opacity: 0;
}

.rectangulo-2:hover > .texto-servicios{
  opacity: 1;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-transition-duration:1s;
  transition-duration:1s;
}